<%- include('bootheader') -%>
<%- include('menubar') -%>

<head>
<link rel="shortcut icon" href="/Images/logo.ico">
</head>
<title>About HYELP</title>
<h1> About HYELP</h1>
<h2>Our mission is to help raise awareness about homelessness in Boston, and to provide resources for people in need.</h2>




<%- include('bootfooter') -%>
