<%- include('bootheader') -%>
<%- include('menubar') -%>

<head>
<link rel="shortcut icon" href="/Images/logo.ico">
<title>About HYELP</title>
</head>

<br>
<body>

<h1> About HYELP</h1>
<div class="smallbodyfont">
<h2>Our mission is to help raise awareness about homelessness in Boston, and to provide resources for people in need.</h2>
</div>
</body>


<%- include('bootfooter') -%>
