<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Coupons and Available Sales</h1>
        <p>Find sales near you!

           </p>
    </div>
    


<%- include('bootfooter') -%>
