<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div>
        <h1>Crystal Lai</h1>
    </div>
    <div>
        <p style="color:#7bb061">I am Crystal Lai from China.<br>
          I am 17 years old and I love dancing and photography.<br>
          I hope HYELP will help people in need and make the world better.
        </p>
    </div>
    <div>
      <img src="/images/Crystal.JPG">
    </div>
<%- include('bootfooter') -%>
