<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
    <div>
        <h1>Crystal Lai</h1>
    </div>
    <div class="bodyfont">
        <p>I am Crystal Lai from China and my Chinese name is 赖熔冰.<br>
          I am a rising senior at Ningbo Foreign Language School and I love dancing and photography.<br>
          I hope that HYELP will help people in need and make the world better.
        </p>
    </div>
    <div>
      <img src="/images/Crystal.JPG">
    </div>
<%- include('bootfooter') -%>
