<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Crystal Lai</h1>
    </div>
        <p style="background-color:blue">I am Crystal Lai from China</p>
        <br>

<%- include('bootfooter') -%>
