<%- include('bootheader') -%>
<%- include('menubar') -%>

<head>
<link rel="shortcut icon" href="/Images/logo.ico">
</head>
<title>HYELP</title>
<br><br><br>
<div class="bodyfont">
<h1>Coupon Form</h1>
<body>
  <div class="centerShareStory">
    <div class="credit-card">
  <form>
    <br><input type="text" class="input-large" placeholder="Company"><br>
    <br>
    <input type="text" placeholder="Link to Coupon">
    <br><br>
    Credit Card Information:<br><br>
    <select name="Month" placeholer="Month">
          <option value="january">January</option>
          <option value="february">February</option>
          <option value="march">March</option>
          <option value="april">April</option>
          <option value="may">May</option>
          <option value="june">June</option>
          <option value="july">July</option>
          <option value="august">August</option>
          <option value="september">September</option>
          <option value="october">October</option>
          <option value="november">November</option>
          <option value="december">December</option>
        </select>&nbsp;&nbsp;
        <select name="Year" placeholder="year">
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2016">2025</option>
                  <option value="2017">2026</option>
                  <option value="2018">2027</option>
                </select>
                <br><br>

                <div class="card-verification">
        <div class="cvv-input">
          <input type="text" placeholder="CVV">
        </div>

        <div class="cvv-details"><br>
          <p>3 or 4 digits usually found <br> on the signature strip</p>
        </div>
      </div>
       <button type="submit"><a href="/thanks">Submit</a></button>

</div>
</div>
<%- include('bootfooter') -%>
