<%- include('bootheader') -%>
<%- include('menubar') -%>

<br>
<br>
        <h1>Coupons</h1>
        div class="smallbodyfont">
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th>Store</th> <th>link to coupon</th>
              </tr>
              </thead>
            <tbody>
              <tr>
                <td>Stop and Shop</td><td> <a href ="https://www.groupon.com">
                    Link to coupon</td>
              </tr>
              <tr>
                <td>Whole Foods</td> <td> <a href ="https://www.groupon.com "> Link to coupons</a></td>
              </tr>
              <tr>
                <td>Trader Joes</td> <td><a href ="https://www.groupon.com"> Link to coupons</a></td>
              </tr>
              <tr>
                <td>Fairway</td>  <td><a href ="https://www.groupon.com">Link to coupons</a></td>
                </tr>
              <tr>
                <td>A&P</td> <td><a href ="https://www.groupon.com">Link to coupon</a></td>
                </tr>
                <tr>
                <td>Hannaford</td> <td><a href ="https://www.groupon.com"> Link to coupon</a></td>
                </tr>
                <tr>
                  <td>Target</td>  <td><a href="https://www.groupon.com">Link to coupon</a></td>
                  </tr>
                  <tr>
                  <td>Walmart</td> <td><a href="https://www.groupon.com">Link to coupon</a></td>
                  </tr>
                  <tr>
                    <td>Walgreens</td>  <td><a href="https://www.groupon.com">Link to coupon</a> </td>
                    </tr>
                    <tr>
                      <td>CVS</td>  <td><a href = "https://www.groupon.com">Link to coupon</a></td>
                    </tr>
                    <tr>
                      <td>Shoprite</td>  <td><a href ="https://www.groupon.com">Link to coupon</a></td>
                  </tr>
            <tbody/>
          </table>
          </div>




<%- include('bootfooter') -%>
