<%- include('bootheader') -%>
<%- include('menubar') -%>

<br>
<br>

        <h1>Coupons</h1>

      <div class="centerShareStory">
        <div class = "bodyfont">
          <table class="table table-bordered" bordercolor="#ff00ff">
            <thead>

              <tr>
                  <th><h4>Store</h4></th> <th><h4>Link to Coupon</h4></th>
              </tr>
              </thead>
            <tbody>
              <tr>
                <td>Stop and Shop</td><td> <a href ="https://stopandshop.com/coupons-weekly-circular/digital-coupons/?gclid=CjwKCAjw36DpBRAYEiwAmVVDMDoz70nAg6MxoHSG97_ZmLHi4umelqGtl0IYhRYFcCG12mt-8ggctRoCZ5MQAvD_BwE#/available">
                  Coupon</td>
              </tr>
              <tr>
                <td>Trader Joes</td> <td><a href ="https://www.traderjoes.com/fearless-flyer">Coupon</a></td>
              </tr>
                <tr>
                <td>Hannaford</td> <td><a href ="https://www.hannaford.com/catalog/coupons.cmd"> Coupon</a></td>
                </tr>
                <tr>
                  <td>Target</td>  <td><a href="https://weeklyad.target.com/">Coupon</a></td>
                  </tr>
                  <tr>
                  <td>Walmart</td> <td><a href="https://coupons.cnn.com/walmart">Coupon</a></td>
                  </tr>
                  <tr>
                    <td>Walgreens</td>  <td><a href="https://www.walgreens.com/topic/offers/weeklyad-and-offers.jsp">Coupon</a> </td>
                    </tr>
                    <tr>
                      <td>CVS</td>  <td><a href = "https://www.cvs.com/photo/cvs-photo-coupons">Coupon</a></td>
                    </tr>
                    <tr>
                      <td>Shoprite</td>  <td><a href ="https://coupons.shoprite.com/">Coupon</a></td>
                  </tr>
                  <tr>
                    <td>Wegmans</td>  <td><a href ="https://www.wegmans.com/service/shoppers-club/digital-coupons.html">Coupon</a></td>
                </tr>
                <tr>
                  <td>Shaws</td>  <td><a href ="https://www.coupons.com/store-loyalty-card-coupons/shaws-coupons/">Coupon</a></td>
              </tr>
            <tbody/>
          </table>
          </div>
          </div>





<%- include('bootfooter') -%>
