<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Donations</h1>
        <p>Donations</p>
    </div>
    <button>Donate</button>
<%- include('bootfooter') -%>
