<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Places to Donate</h1>
        <p>Here you can make the donations to help those in need!</p>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Name of Place</th> <th>Address</th> <th>Phone Number</th> <th> Donate Today!</th>
        </tr>
        </thead>
      <tbody>
        <tr>
          <td>The Garment District</td> <td> 200 Broadway Kendall Square / MIT </td> <td> (617) 876-5230 </td>  <td> <a href ="https://garmentdistrict.com/">
              <button class=btn-success>Donate</button> </td>
        </tr>
        <tr>
          <td>Rosie's Place</td> <td> 889 Harrison Ave </td> <td> (617) 442-9322 </td>  <td><a href ="https://www.rosiesplace.org/"> <button class=btn-success>Donate</button></a></td>
        </tr>
        <tr>
          <td>Room To Grow</td> <td>142 Berkeley St. Back Bay</td> <td>(617) 586-0905</td><td><a href ="https://roomtogrow.org/"> <button class=btn-success>Donate</button></a></td>
        </tr>
        <tr>
          <td>New England Center and Home for Verterans</td> <td>17 Court St. Downtown</td> <td> (617) 371-1800 </td> <td><a href ="https://www.nechv.org/"> <button class=btn-success>Donate</button></a></td>
          </tr>
        <tr>
          <td>The Women's Lunch Place</td> <td>67 Newbury St. Back Bay</td> <td> (617) 267-0200 </td> <td><a href ="https://womenslunchplace.org/"> <button class=btn-success>Donate</button></a></td>
          </tr>
          <tr>
          <td>The Goodwill Store</td> <td>470 W Broadway South Boston</td> <td>(617) 307-6367</td> <td><a href ="https://www.goodwillmass.org/"> <button class=btn-success>Donate</button></a></td>
          </tr>
          <tr>
            <td>The Goodwill Store</td> <td>1010 Harrison Ave.</td> <td>(617) 541-1270</td><td><a href="https://www.goodwillmass.org/"><button class=btn-success>Donate</button> </a></td>
            </tr>
            <tr>
            <td>The Goodwill Store</td> <td>965 Commonwealth Ave. Allston/Brighton</td> <td>(617) 254-0112<td><a href="https://www.goodwillmass.org/"><button class=btn-success>Donate</button></a></td>
            </tr>
            <tr>
              <td>Dress for Success</td> <td>989 Commonwealth Ave. Allston/Brighton</td> <td> (617) 779-2177</td><td><a href="https://dressforsuccess.org/"><button class=btn-success>Donate</button></a> </td>
              </tr>
              <tr>
                <td>Big Brothers Big Sisters of Massachusetts Bay</td> <td>75 Federal St. Financial District</td> <td>(617) 779-2177</td> <td><a href = "https://www.bbbsmb.org/"><button class=btn-success>Donate</button></a></td>
              </tr>
      <tbody/>
    </table>

<%- include('bootfooter') -%>
