<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
    <h1>Evelyn Helms</h1>
    <br>
    <div class="bodyfont">
      <div class = "centerShareStory">
    Hi everyone! I am Evelyn and I am a rising senior from Tennessee. I enjoy reading, playing tennis, and playing video games. I love math, robotics, and coding, and I have really enjoyed my experience at Brandeis so far. My goal is to help the community, and I believe that this app can do that.
    </div>
    </div>
<div class = "centerShareStory"
<br><br>
<img src="/images/evelyn.jpg" alt="A bitmoji picture. A girl with brown chin length hair with horns sticking out of her hair and hazel eyes is sitting on the trunk of an elephant. She is wearing a redish-brown crop top with grey jeans that are rolled up.">
</div>

<%- include('bootfooter') -%>
