<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1>Evelyn Helms</h1>
    <br>
    Hi everyone! I am Evelyn and I am a rising senior from Tennessee. I enjoy reading, playing tennis, and playing video games. I love math, robotics, and coding, and I have really enjoyed my experience at Brandeis so far. My goal is to help the community, and I believe that this app can do that.
<br><br>
<img src="/images/evelyn.jpg.jpg">
<%- include('bootfooter') -%>
