<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
Evelyn Helms
<a href="/timepage">evelyn</a>
Samantha Sunday Trombone
<<<<<<< HEAD
<a href="/crystalpage">Crystal Lai</a>
=======
<a href="/sampage">sam</a>
Crystal Lai
>>>>>>> 9f346e8974956a0f193890a21a947a04c3023041
Naomi Ephraim
<a href="/naomipage">Naomi</a>
Trish Nguyen
Rina Stanghellini
<%- include('bootfooter') -%>
