<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Evelyn, Naomi, Rina, Crystal, Sam, Trish</p>
    </div>

<%- include('bootfooter') -%>
