<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
Evelyn Helms
Sam
Naomi Ephraim
Rina
Crystal
Trish
<%- include('bootfooter') -%>
