<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
Evelyn Helms
<a href="/timepage">Evelyn</a>
Samantha Sunday Trombone
<a href="/sampage">Sam</a>
Crystal Lai
<a href="/crystalpage">Crystal Lai</a>
Naomi Ephraim
<a href="/naomipage">Naomi</a>
Trish Nguyen
<a href="/trishpage">Trish</a>
Rina Stanghellini
<a href="/rinastanghellini">Rina Stanghellini</a>

<br>
<img src="https://www.worldatlas.com/upload/e4/c3/6d/shutterstock-394199542.jpg" width="100%">
<br><br>
- There are now an estimated 20,000 people who are homeless in Massachusetts.
- Overall, since 2007, homelessness in the state has risen by nearly 5,000 people or 33%.
- Massachusetts is the only state with a so-called "right-to-shelter" law, meaning that state and local officials must provide shelter to people experiencing homelessness who are requesting services.
<img src="https://d279m997dpfwgl.cloudfront.net/wp/2018/12/Untitled-1-3-1000x461.png" width="100%">
<a href="https://www.wbur.org/news/2018/12/18/homelessness-massachusetts-hud-report">
  The State's Homeless Population Jumped 14 Percent Over The Year
<br>
- 20,929 public school students experienced homelessness over the course of a year in Boston.
<a href="https://www.usich.gov/homelessness-statistics/ma/">
  Massachusetts Homelessness statistics
  <br>
<%- include('bootfooter') -%>
