<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
Evelyn Helms
<a href="/timepage">Evelyn</a>
Samantha Sunday Trombone
<a href="/sampage">Sam</a>
Crystal Lai
<a href="/crystalpage">Crystal Lai</a>
Naomi Ephraim
<a href="/naomipage">Naomi</a>
Trish Nguyen
<a href="/trishpage">Trish</a>
Rina Stanghellini
<a href="/rinastanghellini">Rina Stanghellini</a>

<br>

<%- include('bootfooter') -%>
