<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Need help? go to Hyelp</p>
    </div>

Evelyn Helms
<a href="/timepage">Evelyn</a>
Samantha Sunday Trombone
<a href="/sampage">Sam</a>
Crystal Lai
<a href="/crystalpage">Crystal Lai</a>
Naomi Ephraim
<a href="/naomipage">Naomi</a>
Trish Nguyen
<a href="/trishpage">Trish</a>
Rina Stanghellini
<a href="/rinastanghellini">Rina Stanghellini</a>

<br>

















- There are 29 homeless people per 10,000 people in the general population of Massachusetts.
<a href ="https://endhomelessness.org/homelessness-in-america/homelessness-statistics/state-of-homelessness-report/massachusetts/">
    National Alliance to End Homlessness
</a>
<br><br>
- In 2018 13,257 people in families experienced homelessness in Massachusetts.
<a href ="https://endhomelessness.org/homelessness-in-america/homelessness-statistics/state-of-homelessness-report/massachusetts/">
    National Alliance to End Homlessness
</a>
<br><br>
- In 2018 14% of the homeless population in Massachusetts experienced unsheltered homelessness.
<a href ="https://endhomelessness.org/homelessness-in-america/homelessness-statistics/state-of-homelessness-report/massachusetts/">
    National Alliance to End Homlessness
    </a>
  <br><br>
- There are 6,188 homeless people in boston on a given night
<a href ="https://endhomelessness.org/homelessness-in-america/homelessness-statistics/state-of-homelessness-report/massachusetts/">
    National Alliance to End Homlessness
    </a>






<%- include('bootfooter') -%>
