<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
Evelyn Helms
<a href="/evelynpage">evelyn</a>
Samantha Sunday Trombone
<a href="/crystalpage">Crystal Lai</a>
<a href="/sampage">sam</a>
Crystal Lai
Naomi Ephraim
<a href="/naomipage">Naomi</a>
Trish Nguyen
Rina Stanghellini <a href="/rinastanghellini">Rina Stanghellini</a>
<%- include('bootfooter') -%>
