<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
<<<<<<< HEAD
Evelyn
Samantha Sunday Trombone
Naomi
=======
Evelyn Helms
Sam
Naomi Ephraim
>>>>>>> edff87120528fee7ec38f09be84b52190641aada
Rina
Crystal Lai
Trish
<%- include('bootfooter') -%>
