<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>HYELP</h1>
        <p>Demonstrating Node/Express features</p>
    </div>
Evelyn Helms
<a href="/timepage">evelyn</a>
Samantha Sunday Trombone
<a href="/crystalpage">Crystal Lai</a>
Naomi Ephraim
<a href="/naomipage">Naomi</a>
Trish Nguyen
Rina Stanghellini
<%- include('bootfooter') -%>
