<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Know Your Rights</h1>
        <p>Learn the rights that you have as a homeless person in the Boston area</p>
    </div>
    <p>While Massachusetts does not currently have a Homeless Bill of Rights (Baltimore, Connecticut, Illinois, Madison, Puerto Rico, Rhode Island, and Traverse City do have these), 

<%- include('bootfooter') -%>
