<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Know Your Rights</h1>
        <p>Learn the rights that you have as a homeless person in the Boston area</p>
    </div>
    <p>While Massachusetts does not currently have a Homeless Bill of Rights, you are still entitled to the same basic human rights as all other people. </p>
    <br>
    <ol>
      <li>Freedom and safety</li>
      <li>No unfair imprisonment</li>
    </ol>
    <img src="http://www.outlookafghanistan.net/assets/2013/human_rights.jpg" height=100 width=100>
<%- include('bootfooter') -%>
