<div class="row">
    <div class="col">
      <div class="bodyfont">
      Our mission is to help raise awareness about homelessness in Boston, and to provide resources
      for people in need.
      </div>
    </div>

    <div class="col">
      <a href="/"><img src="images/logo.png" width="100%"></a>
    </div>

    <div class="col">
      <div style="float:right" class="bodyfont">
       <ul style="list-style-type: none;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>
              Get Help
            </b></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarDropdown">
              <a class="dropdown-item" href="/NearestFacilities">Nearest Facilities</a>
              <a class="dropdown-item" href="/Weather">Weather</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Give Help
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarDropdown">
              <a class="dropdown-item" href="/Donates">Donations</a>
              <a class="dropdown-item" href="/VWork">Volunteer Work</a>
              <a class="dropdown-item" href="/passBill">Help pass legislation</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarDropdown">
              <a class="dropdown-item" href="/shareStory">Share your story</a>
              <a class="dropdown-item" href="/seeStories">See others' stories</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarDropdown">
              <a class="dropdown-item" href="/eHelms">Evelyn Helms</a>
              <a class="dropdown-item" href="/sSundayTrombone">Samantha Sunday Trombone</a>
              <a class="dropdown-item" href="/cLai">Crystal Lai</a>
              <a class="dropdown-item" href="/nEphraim">Naomi Ephraim</a>
              <a class="dropdown-item" href="/tNguyen">Trish Nguyen</a>
              <a class="dropdown-item" href="/rStanghellini">Rina Stanghellini</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
