<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">HYELP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <ul>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Get Help
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/NearestFacilities">Nearest Facilities</a>
      <a class="dropdown-item" href="/Weather">Weather</a>
      <a class="dropdown-item" href="/C&S">Coupons & Sale</a>
      <a class="dropdown-item" href="/knowyourrights">Know Your Rights</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Give Help
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/Donates">Donations</a>
      <a class="dropdown-item" href="/VWork">Volunteer Work</a>
      <a class="dropdown-item" href="/Foster">Foster</a>
    </div>
  </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/SYS">Share your story</a>
          <a class="dropdown-item" href="/SOS">See other stories</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          Administrators
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/eHelms">Evelyn Helms</a>
          <a class="dropdown-item" href="/sSundayTrombone">Samantha Sunday Trombone</a>
          <a class="dropdown-item" href="/cLai">Crystal Lai</a>
          <a class="dropdown-item" href="/nEphraim">Naomi Ephraim</a>
          <a class="dropdown-item" href="/tNguyen">Trish Nguyen</a>
          <a class="dropdown-item" href="/rStanghellini">Rina Stanghellini</a>
        </div>
      </li>


        </div>
      </li>


    </ul>


</nav>
