<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">HYELP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <ul>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Get Help
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/NearestFacilities">Nearest Facilities</a>
      <a class="dropdown-item" href="/Weather">Weather</a>
      <a class="dropdown-item" href="/quiz2">Coupons & Sale</a>
      <a class="dropdown-item" href="/quiz2">Know Your Rights</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Give Help
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/griddemo">Donations</a>
      <a class="dropdown-item" href="/bmidemo">Volunteer Work</a>
      <a class="dropdown-item" href="/bmidemo">Foster</a>
    </div>
  </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/griddemo">Share your story</a>
          <a class="dropdown-item" href="/bmidemo">See other stories</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Abouts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Evelynpage">Evelyn Helms</a>
          <a class="dropdown-item" href="/sampage">Samantha Sunday Trombone</a>
          <a class="dropdown-item" href="/crystalpage">Crystal Lai</a>
          <a class="dropdown-item" href="/naomipage">Naomi Ephraim</a>
          <a class="dropdown-item" href="/trishpage">Trish Nguyen</a>
          <a class="dropdown-item" href="/Weather">Rina Stanghellini</a>
        </div>
      </li>


      <% if (loggedIn) { %>
      <li class="nav-item">
        <a class="nav-link" href="/forum">Forum</a>
      </li>
      <% } %>

    </ul>


</nav>
