<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<br>
        <h1>Nearest Facilities and Shelters </h1> <br>
        <div class="bodyfont">
          <p class="centerShareStory">Facilities in the Nearby Boston
          </p>
        </div>

  <p>
    <iframe src="https://www.google.com/maps/d/embed?mid=1SHnM9mWz5jhrqJdsn_5-IQpcmiym7TW9" width="100%" height="500"></iframe>
  </p>
<br><br>
<h1>Shelters </h1>
<br>

<div class="smallbodyfont">
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>Name of Shelter</th> <th>Address</th> <th>Link</th> <th>Phone Number</th><th>Residents</th><th>Number of Beds Available</th>
      </tr>
      </thead>
    <tbody>
      <tr>
        <td>Asian Task Force</td>
         <td> Lowell, MA 01852 </td>
          <td> <a href ="https:/www.atask.org/site/" target="_blank">
            www.atask.org</td>
             <td> <a href="tel: 1-978-454-3651">978-454-365</a> or <a href="tel:617-338-2355"> Multilingual:617-338-2355</a>
               <td> Asian Families</td>
               <td>Number of Available Beds</td>
      </tr>
      <tr>
        <td>Casa Myrna</td> <td>38 Wareham St, Boston, MA 02118 </td> <td> <a href ="https://www.casamyrna.org"target="_blank"> www.casamyrna.org</a></td> <td><a href="tel:1-617-521-0100">617-521-0100</a></td>
        <td>Women and Children</td>
        <td>Number of Available Beds</td></tr>
      <tr>
        <td>Renewal House</td> <td>10 Putnam St, Boston, MA 02119</td> <td><a href ="https://www.uuum.org"target="_blank"> www.uuum.org</a></td> <td><a href="tel:1-617-318-6010">617-318-6010</td>
          <td>Women and Children</td>
          <td>Number of Available Beds</td></tr>
      <tr>
        <td>Beth Israel Deaconess Medical Center (BIDMC)</td> <td>330 Brookline Ave, Boston, MA 02215</td> <td><a href ="https://www.bidmc.org"target="_blank"> www.bidmc</a></td> <td><a href="tel:1-617-667-7000">617-667-7000</a></td>
        <td>Families</td>
        <td>Number of Available Beds</td></tr>
      <tr>
        <td>Cardinal Medeiros Center</td> <td>1960 Washington St, Boston, MA 02118</td> <td><a href ="https://www.baycove.org"target="_blank"> www.baycove.org</a></td> <td><a href="tel:1-617-619-6960">617-619-6960</a></td>
        <td>Families</td>
        <td>Number of Available Beds</td></tr>
        <tr>
        <td>St. Francis House</td> <td>39 Boylston St, Boston, MA 02116</td> <td><a href ="https://www.stfrancishouse.org"target="_blank"> www.stfrancishouse.org</a></td> <td> <a href="tel:1-617-542-4211">617-542-4211</a></td>
        <td>Adult Shelters</td>
        <td>Number of Available Beds</td></tr>
        <tr>
          <td>Church of the Covenant</td> <td>67 Newbury St, Boston, MA 02116</td> <td><a href="https://www.cotcbos.org"target="_blank">www.cotcbos.org</a></td> <td> <a href="tel:1-617-266-7480">617-266-7480</a></td>
          <td>Adult Shelters</td>
          <td>Number of Available Beds</td></tr>
          <tr>
          <td>Boston Rescue Mission</td> <td>39 Kingston St, Boston, MA 02111</td> <td><a href="https://www.brm.org"target="_blank">www.brm.org</a></td> <td> <a href="tel:1-617-338-9000">617-338-9000</a></td>
          <td>Men and Women</td>
          <td>Number of Available Beds</td></tr>
          <tr>
            <td>Pine Street Inn</td> <td>444 Harrison Ave, Boston, MA 02118</td> <td><a href="https://www.pinestreetinn.org"target="_blank">www.pinestreetinn.org</a> </td> <td><a href="tel:1-617-892-9100">617-892-9100</a></td>
            <td>Men and Women</td>
            <td>Number of Available Beds</td></tr>
            <tr>
              <td>Shattuck Shelter Pine Street Inn</td> <td>170 Morton St, Jamaica Plain, MA 02130</td> <td><a href = "https://www.pinestreetinn.org/current_openings/Housekeeper_Shattuck_Shelter_12-137"target="_blank">www.pinestreetinn.org</a></td> <td> <a href="tel:1-617-983-0351">617-983-0351</a></td>
              <td>Men and Women</td>
              <td>Number of Available Beds</td></tr>
            <tr>
              <td>The Woods-Mullen Shelter</td> <td>794 Massachusetts Ave, Boston, MA 02118</td> <td><a href ="https://www.bphc.org"target="_blank">www.bphc.org</a></td> <td> <a href="tel:1-617-534-7101">617-534-7101</a></td>
              <td>Men and Women</td>
              <td>Number of Available Beds</td></tr>
          <tr>
            <td> Rosie's Place </td> <td> 889 Harrison Ave, Boston, MA 02118 </td> <td><a href ="https://www.rosiesplace.org"target="_blank">www.rosiesplace.org</a> </td> <td> <a href="tel:1-617-442-9322">617-442-9322</a></td>
            <td>Women</td>
            <td>Number of Available Beds</td></tr>
        <tr>
          <td> Crossroads Family Shelter </td> <td>56 Havre St, East Boston, MA 02128 </td> <td><a href ="https://www.ebcrossroads.org"target="_blank">www.ebcrossroads.org</a> </td> <td> <a href="tel:1-617-567-5926">617-567-5926</a></td>
          <td>Families</td>
          <td>Number of Available Beds</td></tr>
      <tr>
        <td> Massachusetts Department of Transitional Assistance </td> <td>1010 Massachusetts Ave, Boston, MA 02118 </td> <td><a href= "https://www.mass.gov/orgs/department-of-transitional-assistance"target="_blank">www.mass.gov/orgs/department-of-transitional-assistance</a></td> <td> <a href="tel:1-617-989-2200">617-989-2200</a></td>
    </tr>
    <tr>
      <td> Women's Lunch Place Church of the Covenant</td> <td>67 Newbury St, Boston, MA 02116 </td> <td> <a href ="https://www.womenslunchplace.org"target="_blank">www.womenslunchplace.org</a> </td> <td><a href="tel:1-617-267-1722">617-267-1722</a></td>
  </tr>
  <tr>
    <td> Bristol Lodge Women's Shelter</td> <td>205 Bacon Street
Waltham, MA 02451 </td> <td> <a href ="https://www.mhsainc.org/womensshelter"target="_blank">www.mhsainc.org/womensshelter</a> </td> <td> <a href="tel:1-781-894-1225">781-894-1225</a><br>(after 4pm only)</td>
</tr>
<tr>
<td> Father Bill's Place</td>
<td>239 Broad Street
Quincy, MA 02169 </td>
<td> <a href ="https://helpfbms.org/"target="_blank">www.helpfbms.org</a> </td>
 <td> <a href="tel:1-617-770-3314">617-770-3314</a></td>
</tr>

<tr>
<td> Harvard Square Homeless Shelter/ University Luthern Shelter</td>
<td>66 Winthrop Street
Cambridge, MA 02138</td>
<td> <a href ="https://hshshelter.org/"target="_blank">www.hshshelter.org</a> </td>
 <td> <a href="tel:1-617-547-2841">617-547-2841</a><br>
 or<br><a href="tel:1-855-367-2353">855-367-2353</a><br>(for housing lottery)</td>
</tr>

<tr>
<td> Heading Home</td><td>
  109 School Street
  Cambridge, MA 02139</td>
<td> <a href ="http://www.headinghomeinc.org/"target="_blank">www.headinghomeinc.org/</a> </td>
 <td> <a href="tel:1-617-547-1885">617-547-1885</a></td>
</tr>

<tr>
<td> Santa Maria Shelter for Women</td><td>
  11 Waltham Street
Boston, MA 02118</td>
<td> <a href ="http://www.sanctamariahouse.org/"target="_blank">www.sanctamariahouse.org/</a> </td>
 <td> <a href="tel:1-617-423-4366">617-423-4366</a></td>
</tr>

<tr>
<td> St. Patrick's Shelter</td><td>
  270 Washington Street
Somerville, MA 02143</td>
<td> <a href ="https://www.ccab.org/shelter-services"target="_blank">www.ccab.org/shelter-services</a> </td>
 <td> <a href="tel:1-617-628-3015">617-628-3015</a></td>
</tr>

<tr>
<td> Queen of Peace</td><td>
  401 Quincy Street
  Dorchester, MA 02125</td>
<td> <a href ="http://health-centers.findthebest.com/l/8343/Queen-of-Peace-Shelter"target="_blank">www.health-centers.findthebest.com/l/8343</a> </td>
 <td> <a href="tel:1-617-288-4182">617-228-4182</a></td>
</tr>

<tr>
<td> Beth Israel Deaconess Medical Center</td><td>
330 Brookline Ave, Boston, MA 02215</td>
<td> <a href ="http://bidmc.org"target="_blank">www.bidmc.org</a> </td>
 <td> <a href="tel:1-617-667-7000">617-667-7000</a></td>
</tr>

<tr>
<td> Elizabeth Stone House</td><td>
8 Notre Dame St, Roxbury, MA 02119</td>
<td> <a href ="http://elizabethstonehouse.org"target="_blank">www.elizabethstonehouse.org</a> </td>
 <td> <a href="tel:1-617-427-9801">617-427-9801</a></td>
</tr>

<tr>
<td> Pine Street Inn - Women's Inn</td><td>
363 Albany St, Boston, MA 02118</td>
<td> <a href ="https://www.pinestreetinn.org/emergency-services/emergency-shelter"target="_blank">www.pinestreetinn.org</a> </td>
 <td> <a href="tel:1-617-892-9100">617-892-9100</a></td>
</tr>

<tr>
<td> DHCD Boston Family Housing Office</td><td>
1010 Massachusetts Ave, Boston, MA 02118</td>
<td> <a href ="https://www.mass.gov/locations/newmarket-square-transitional-assistance-office-dta"target="_blank">www.mass.gov/locations/newmarket/</a> </td>
 <td> <a href="tel:1-617-989-2200">617-989-2200</a></td>
</tr>

<tr>
<td> Project Hope Boston</td><td>
550 Dudley St, Roxbury, MA 02119</td>
<td> <a href ="https://www.prohope.org/"target="_blank">www.prohope.org</a> </td>
 <td> <a href="tel:1-617-442-1880">617-442-1880</a></td>
</tr>

<tr>
<td> Sojourner House Inc.</td><td>
85 Rockland St, Roxbury, MA 02119</td>
<td> <a href ="https://www.sojournerhouseboston.org/"target="_blank">www.sojournerhouseboston.org</a> </td>
 <td> <a href="tel:1-617-442-0590">617-442-0590</a></td>
</tr>

<tr>
<td> Temporary Home for Women & Children</td><td>
41 New Chardon St, Boston, MA 02114</td>
<td> <a href ="https://www.sojournerhouseboston.org/"target="_blank">www.sojournerhouseboston.org</a> </td>
 <td> <a href="tel:1-617-720-3611">617-720-3611</a></td>
</tr>

<tr>
<td> Temporary Home for Women & Children</td><td>
41 New Chardon St, Boston, MA 02114</td>
<td> <a href ="https://www.sojournerhouseboston.org/"target="_blank">www.sojournerhouseboston.org</a> </td>
 <td> <a href="tel:1-617-720-3611">617-720-3611</a></td>
</tr>

<tr>
<td> FamilyAid Boston, Inc</td><td>
727 Atlantic Ave, Boston, MA 02111</td>
<td> <a href ="https://www.familyaidboston.org/"target="_blank">www.familyaidboston.org</a> </td>
 <td><a href="tel:1-617-720-3611">617-720-3611</a></td>
</tr>

<tr>
<td> Boston Family Shelter</td><td>
656 Massachusetts Ave, Boston, MA 02118</td>
<td> <a href ="http://www.shelterinc.org/"target="_blank">www.shelterinc.org</a> </td>
 <td> <a href="tel:1-617-267-8081">617-267-8081</a></td>
</tr>

<tr>
<td> Casa Nueva Vida</td><td>
53 Glen Rd, Boston, MA 02130</td>
<td> <a href ="http://casanuevavida.org/"target="_blank">www.casanuevavida.org</a> </td>
 <td> <a href="tel:1-617-524-6332">617-524-6332</a></td>
</tr>

<tr>
<td> Crittenton Women's Union</td><td>
10 Perthshire Rd, Brighton, MA 02135</td>
<td> <a href ="http://www.liveworkthrive.org"target="_blank">www.liveworkthrive.org</a> </td>
 <td> <a href="tel:1-617-782-7600">617-782-7600</a></td>
</tr>

<tr>
<td> DTA Boston Newmarket Square</td><td>
1010 Massachusetts Ave, Boston, MA 02118</td>
<td> <a href ="https://www.mass.gov/locations/newmarket-square-transitional-assistance-office-dta"target="_blank">www.mass.gov/locations/newmarket.org</a> </td>
 <td> <a href="tel:1-617-782-7600">617-782-7600</a></td>
</tr>

<tr>
<td> Bridge House</td><td>
  24 Baker Street
  Lynn, MA 01902</td>
<td> <a href ="http://bridgehousefamily.com/"target="_blank">www.bridgehousefamily.com</a> </td>
 <td> <a href="tel:1-781-593-3898">781-593-3898</a></td>
</tr>

<tr>
<td> YWCA Cambridge</td><td>
  7 Temple
Cambridge, MA 02139</td>
<td> <a href ="http://www.ywca.org/site/pp.asp?c=9oIDLQOyGpF&b=309133"target="_blank">www.ywca.org/</a> </td>
 <td> <a href="tel:1-617-491-6050">617-491-6050</a></td>
</tr>

<tr>
<td> Children's Services of Roxbury</td><td>
  504 Dudley St
Roxbury, MA 02119</td>
<td> <a href ="https://www.csrox.org/"target="_blank">www.bridgehousefamily.com</a> </td>
 <td> <a href="tel:1-617-989-1093">617-989-1093</a></td>
</tr>

<tr>
<td> Cross Street Family Shelter</td><td>
  59 Cross Street
P.O. Box 440436
Somerville, MA 02144</td>
<td> <a href ="http://www.somervillehomelesscoalition.org/programs/shelters/"target="_blank">www.somervillehomelesscoalition.org</a> </td>
 <td> <a href="tel:1-617-776-6661">617-776-6661</a></td>
</tr>

<tr>
<td> Families in Transition</td><td>
  316 Huntington Ave.
Boston, MA 02115</td>
<td> <a href ="http://www.ymcaboston.org/"target="_blank">www.ymcaboston.org/</a> </td>
 <td> <a href="tel:1-617-927-8290">617-927-8290</a></td>
</tr>

<tr>
<td> Hildebrand Family Self Help</td><td>
  614 Massachusetts Avenue, 3rd Floor
Cambridge, MA 02139</td>
<td> <a href ="http://www.hild-selfhelp.org/"target="_blank">www.hild-selfhelp.org/</a> </td>
 <td> <a href="tel:1-617-491-5752 ">617-491-5752 /a></td>
</tr>

<tr>
<td> Bristol Lodge Family Shelter / Mary's House</td><td>
  62 Church Street
Waltham, MA 02154</td>
<td> <a href ="http://www.mhsainc.org/shelters.htm"target="_blank">//www.mhsainc.org/</a> </td>
 <td> <a href="tel:1-781-647-9957">781-647-9957</a></td>
</tr>

<tr>
<td> Metropolitan Boston Housing Partnership</td><td>
  125 Lincoln Street, 5th floor
Boston, MA 02111</td>
<td> <a href ="http://www.mbhp.org/"target="_blank">www.mbhp.org/</a> </td>
 <td> <a href="tel:1-617-859-0400">617-859-0400</a></td>
</tr>

<tr>
<td> Nazareth Residence for Mother's and Children</td><td>
  91 Regent Street
Roxbury, MA 02119</td>
<td> <a href ="http://www.homelessshelterdirectory.org/cgi-bin/id/shelter.cgi?shelter=8555"target="_blank">www.homelessshelterdirectory.org</a> </td>
 <td> <a href="tel:1-617-541-0100">617-541-0100</a></td>
</tr>

<tr>
<td>Re-Vision House Inc</td><td>
  38 Fabyan Street
Dorcester, MA 02124</td>
<td> <a href ="http://health-centers.findthebest.com/l/4210/Revision-House"target="_blank">www.health-centers.findthebest.com</a> </td>
 <td> <a href="tel:1-781-593-3898">781-593-3898</a></td>
</tr>

<tr>
<td> St. Ambrose Family Inn</td><td>
  25 Leonard Street
Dorchester, MA 02122</td>
<td> <a href ="http://mydorchester.org/node/5777"target="_blank">www.mydorchester.org</a> </td>
 <td> <a href="tel:1-617-288-7675">617-288-7675</a></td>
</tr>

<tr>
<td>Margaret's House</td><td>
  90 Cushing Ave.
Dorchester, MA 02125</td>
<td> <a href ="http://bridgehousefamily.com/"target="_blank">www.bridgehousefamily.com</a> </td>
 <td> <a href="tel:1-617-436-3944">617-436-3944 (hotline)<br></a><a href="tel:1-617-436-8600">617-436-8600 (intake center)</a></td>
</tr>

<tr>
<td>Centerboard</td><td>
  16 City Hall Square
Lynn, MA 01905</td>
<td> <a href ="http://www.thecenterboard.org/"target="_blank">www.thecenterboard.org</a> </td>
 <td> <a href="tel:1-781-598-9417">781-598-9417</a></td>
</tr>

<tr>
<td>Housing Families</td><td>
  254 Broadway
  Malden, MA 02148</td>
<td> <a href ="http://bridgehousefamily.com/"target="_blank">www.bridgehousefamily.com</a> </td>
 <td> <a href="tel:1-781-324-1303">781-324-1303</a></td>
</tr>

<tr>
<td>Betty's Place (Boston YMCA)</td><td>
  40 Berkley. St.
Boston, MA 02116</td>
<td> <a href ="http://www.projectplace.org/housing.html"target="_blank">www.projectplace.org/housing.html</a> </td>
 <td> <a href="tel:1-617-482-1126">617-482-1126</a></td>
</tr>

<tr>
<td>Betty's Place (Boston YMCA)</td><td>
  40 Berkley. St.
Boston, MA 02116</td>
<td> <a href ="http://www.projectplace.org/housing.html"target="_blank">www.projectplace.org/housing.html</a> </td>
 <td> <a href="tel:1-617-482-1126">617-482-1126</a></td>
</tr>

<tr>
<td>CASPAR Grow House</td><td>
  6 Camelia Avenue
Cambridge, MA 02139</td>
<td> <a href ="https://www.baycovehumanservices.org/caspar-aftercare-services?rq=Grow"target="_blank">www.baycovehumanservices.org</a> </td>
 <td> <a href="tel:1-617-661-6020">617-661-6020</a></td>
</tr>

<tr>
<td>ShortStop Inc</td><td>
  118 North St, Somerville, MA 02144</td>
<td> <a href ="http://www.waysideyouth.org/"target="_blank">www.waysideyouth.org/</a> </td>
 <td> <a href="tel:1-617-776-3377">617-776-3377</a></td>
</tr>

<tr>
<td>St. James Summer Shelter</td><td>
  118 North St, Somerville, MA 02144</td>
<td> <a href ="http://hshshelter.org/"target="_blank">www.hshshelter.org/</a> </td>
 <td> <a href="tel:1-888-285-4038">888-285-4038</a></td>
</tr>

<tr>
<td>Transition House's Transitional Living Program</td><td>
  1025 Cambridge St. Suite B-10
  Cambridge, MA 02145</td>
<td> <a href ="https://transitionhouse.org"target="_blank">www.transitionhouse.org</a> </td>
 <td> <a href="tel:1-617-868-1650">617-868-1650</a></td>
</tr>

<tr>
<td>Parker West</td><td>
  25 Staniford St.,
  Boston, MA 02114</td>
<td> <a href ="https://www.mass.gov/orgs/massachusetts-department-of-mental-health"target="_blank">www.mass.gov/</a> </td>
 <td> <a href="tel:1-617-287-1164"> 617-287-1164</a></td>
</tr>

<tr>
<td>West End Clinic</td><td>
  118 North St, Somerville, MA 02144</td>
<td> <a href ="https://www.massgeneral.org/psychiatry/services/treatmentprograms.aspx?id=2093"target="_blank">https://www.massgeneral.org/psychiatry/services/treatmentprograms.aspx?id=2093</a> </td>
 <td> <a href="tel:1-617-726-2712">617-726-2712</a></td>
</tr>

<tr>
<td>Bridge Over Troubled Waters</td><td>
  47 West St., Boston , MA 02111 </td>
<td> <a href ="https://www.bridgeotw.org/"target="_blank">https://www.bridgeotw.org/</a> </td>
 <td> <a href="tel:1-617-423-9575">617-423-9575</a></td>
</tr>

<tr>
<td>Youth on Fire</td><td>
1555 Massachusetts Avenue, Cambridge, MA 02138 </td>
<td> <a href ="http://www.aac.org/about/our-work/youth-on-fire.html"target="_blank">www.aac.org</a> </td>
 <td> <a href="tel:1-617-661-2508">617-661-2508</a></td>
</tr>

    <tbody/>
  </table>
  </div>


<%- include('bootfooter') -%>
