<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Nearest Facilities</h1>
        <p>Facilities in the Nearby Boston</p>
    </div>
<p> <iframe src="https://www.google.com/maps/d/embed?mid=1SHnM9mWz5jhrqJdsn_5-IQpcmiym7TW9" width="640" height="480"></iframe>
  </p>


<%- include('bootfooter') -%>
