<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Nearest Facilities</h1>
        <p>Facilities in the Nearby Boston</p>
    </div>
<p> <iframe src="https://www.google.com/maps/d/embed?mid=1SHnM9mWz5jhrqJdsn_5-IQpcmiym7TW9" width="640" height="480"></iframe>
  </p>
<br><br>
<h1> Shelters </h1>
<br>
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>Name of Shelter</th> <th>Additional Information</th> <th>Link</th>
      </thead>
    <tbody>
      <tr>
        <td>  </td> <td>  </td> <td>  </td>
      </tr>
    <tbody/>
  </table>


<%- include('bootfooter') -%>
