<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<br>
        <h1>Nearest Facilities and Shelters </h1> <br>
        <div class="bodyfont">
          <p class="centerShareStory">Facilities in the Nearby Boston
          </p>
        </div>

  <p>
    <iframe src="https://www.google.com/maps/d/embed?mid=1SHnM9mWz5jhrqJdsn_5-IQpcmiym7TW9" width="100%" height="500"></iframe>
  </p>
<br><br>
<h1>Shelters </h1>
<br>

<div class="smallbodyfont">
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>Name of Shelter</th> <th>Address</th> <th>Link</th> <th>Phone Number</th>
      </tr>
      </thead>
    <tbody>
      <tr>
        <td>Asian Task Force</td> <td> Lowell, MA 01852 </td> <td> <a href ="https://www.atask.org/site/" target="_blank">
            www.atask.org</td> <td> +1 978-454-3651</td>
      </tr>
      <tr>
        <td>Casa Myrna</td> <td>38 Wareham St, Boston, MA 02118 </td> <td> <a href ="https://www.casamyrna.org"target="_blank"> www.casamyrna.org</a></td> <td>+1 617-521-0100</td>
      </tr>
      <tr>
        <td>Renewal House</td> <td>10 Putnam St, Boston, MA 02119</td> <td><a href ="https://www.uuum.org"target="_blank"> www.uuum.org</a></td> <td>+1 617-318-6010</td>
      </tr>
      <tr>
        <td>Beth Israel Deaconess Medical Center (BIDMC</td> <td>330 Brookline Ave, Boston, MA 02215</td> <td><a href ="https://www.bidmc.org"target="_blank"> www.bidmc</a></td> <td>+1 617-667-7000</td>
        </tr>
      <tr>
        <td>Cardinal Medeiros Center</td> <td>1960 Washington St, Boston, MA 02118</td> <td><a href ="https://www.baycove.org"target="_blank"> www.baycove.org</a></td> <td>+1 617-619-6960</td>
        </tr>
        <tr>
        <td>St. Francis House</td> <td>39 Boylston St, Boston, MA 02116</td> <td><a href ="https://www.stfrancishouse.org"target="_blank"> www.stfrancishouse.org</a></td> <td>+1 617-542-4211</td>
        </tr>
        <tr>
          <td>Church of the Covenant</td> <td>67 Newbury St, Boston, MA 02116</td> <td><a href="https://www.cotcbos.org"target="_blank">www.cotcbos.org</a></td> <td>+1 617-266-7480</td>
          </tr>
          <tr>
          <td>Boston Rescue Mission</td> <td>39 Kingston St, Boston, MA 02111</td> <td><a href="https://www.brm.org"target="_blank">www.brm.org</a></td> <td>+1 617-338-9000</td>
          </tr>
          <tr>
            <td>Pine Street Inn</td> <td>444 Harrison Ave, Boston, MA 02118</td> <td><a href="https://www.pinestreetinn.org"target="_blank">www.pinestreetinn.org</a> </td> <td>+1 617-892-9100</td>
            </tr>
            <tr>
              <td>Shattuck Shelter Pine Street Inn</td> <td>170 Morton St, Jamaica Plain, MA 02130</td> <td><a href = "https://www.pinestreetinn.org/current_openings/Housekeeper_Shattuck_Shelter_12-137"target="_blank">www.pinestreetinn.org</a></td> <td>+1 617-983-0351</td>
            </tr>
            <tr>
              <td>The Woods-Mullen Shelter</td> <td>794 Massachusetts Ave, Boston, MA 02118</td> <td><a href ="https://www.bphc.org"target="_blank">www.bphc.org</a></td> <td>+1 617-534-7101</td>
          </tr>
          <tr>
            <td> Rosie's Place </td> <td> 889 Harrison Ave, Boston, MA 02118 </td> <td><a href ="https://www.rosiesplace.org"target="_blank">www.rosiesplace.org</a> </td> <td>+1 617-442-9322</td>
        </tr>
        <tr>
          <td> Crossroads Family Shelter </td> <td>56 Havre St, East Boston, MA 02128 </td> <td><a href ="https://www.ebcrossroads.org"target="_blank">www.ebcrossroads.org</a> </td> <td>+1 617-567-5926</td>
      </tr>
      <tr>
        <td> Massachusetts Department of Transitional Assistance </td> <td>1010 Massachusetts Ave, Boston, MA 02118 </td> <td><a href= "https://www.mass.gov/orgs/department-of-transitional-assistance"target="_blank">www.mass.gov/orgs/department-of-transitional-assistance</a></td> <td>+1 617-989-2200</td>
    </tr>
    <tr>
      <td> Women's Lunch Place Church of the Covenant</td> <td>67 Newbury St, Boston, MA 02116 </td> <td> <a href ="https://www.womenslunchplace.org"target="_blank">www.womenslunchplace.org</a> </td> <td>+1 617-267-1722</td>
  </tr>
  <tr>
    <td> Bristol Lodge Women's Shelter</td> <td>205 Bacon Street
Waltham, MA 02451 </td> <td> <a href ="https://www.mhsainc.org/womensshelter"target="_blank">www.mhsainc.org/womensshelter</a> </td> <td>+1 781-894-1225 (after 4pm only)</td>
</tr>
<tr>
<td> Father Bill's Place</td>
<td>239 Broad Street
Quincy, MA 02169 </td>
<td> <a href ="https://helpfbms.org/"target="_blank">www.helpfbms.org</a> </td>
 <td>+1 617 -770-3314 (after 4pm only)</td>
</tr>

<tr>
<td> Harvard Square Homeless Shelter/ University Luthern Shelter</td>
<td>66 Winthrop Street
Cambridge, MA 02138</td>
<td> <a href ="https://hshshelter.org/"target="_blank">www.hshshelter.org</a> </td>
 <td>+1 617 -547-2841
 or +1 855 -367-2353 (for housing lottery)</td>
</tr>

<tr>
<td> Heading Home</td><td>
  109 School Street
  Cambridge, MA 02139</td>
<td> <a href ="http://www.headinghomeinc.org/"target="_blank">www.headinghomeinc.org/</a> </td>
 <td>+1 617 547-188</td>
</tr>

<tr>
<td> Santa Maria Shelter for Women</td><td>
  11 Waltham Street
Boston, MA 02118</td>
<td> <a href ="http://www.sanctamariahouse.org/"target="_blank">www.sanctamariahouse.org/</a> </td>
 <td>+1 617 423-4366</td>
</tr>

<tr>
<td> St. Patrick's Shelter</td><td>
  270 Washington Street
Somerville, MA 02143</td>
<td> <a href ="https://www.ccab.org/shelter-services"target="_blank">www.ccab.org/shelter-services</a> </td>
 <td>+1 617 628-3015</td>
</tr>

<tr>
<td> Queen of Peace</td><td>
  401 Quincy Street
  Dorchester, MA 02125</td>
<td> <a href ="http://health-centers.findthebest.com/l/8343/Queen-of-Peace-Shelter"target="_blank">www.health-centers.findthebest.com/l/8343</a> </td>
 <td>+1 617 288-4182</td>
</tr>

<tr>
<td> Beth Israel Deaconess Medical Center</td><td>
330 Brookline Ave, Boston, MA 02215</td>
<td> <a href ="http://bidmc.org"target="_blank">www.bidmc.org</a> </td>
 <td>+1 617 667-7000</td>
</tr>

<tr>
<td> Elizabeth Stone House</td><td>
8 Notre Dame St, Roxbury, MA 02119</td>
<td> <a href ="http://elizabethstonehouse.org"target="_blank">www.elizabethstonehouse.org</a> </td>
 <td>+1 617 427-9801</td>
</tr>

<tr>
<td> Pine Street Inn - Women's Inn</td><td>
363 Albany St, Boston, MA 02118</td>
<td> <a href ="https://www.pinestreetinn.org/emergency-services/emergency-shelter"target="_blank">www.pinestreetinn.org</a> </td>
 <td>+1 892-9100</td>
</tr>

<tr>
<td> DHCD Boston Family Housing Office</td><td>
1010 Massachusetts Ave, Boston, MA 02118</td>
<td> <a href ="https://www.mass.gov/locations/newmarket-square-transitional-assistance-office-dta"target="_blank">www.mass.gov/locations/newmarket/</a> </td>
 <td>+1 617 989-2200</td>
</tr>

<tr>
<td> Project Hope Boston</td><td>
550 Dudley St, Roxbury, MA 02119</td>
<td> <a href ="https://www.prohope.org/"target="_blank">www.prohope.org</a> </td>
 <td>+1 617 442-1880</td>
</tr>

<tr>
<td> Sojourner House Inc.</td><td>
85 Rockland St, Roxbury, MA 02119</td>
<td> <a href ="https://www.sojournerhouseboston.org/"target="_blank">www.sojournerhouseboston.org</a> </td>
 <td>+1 617 442-0590</td>
</tr>

<tr>
<td> Temporary Home for Women & Children</td><td>
41 New Chardon St, Boston, MA 02114</td>
<td> <a href ="https://www.sojournerhouseboston.org/"target="_blank">www.sojournerhouseboston.org</a> </td>
 <td>+1 617 442-0590</td>
</tr>


    <tbody/>
  </table>
  </div>


<%- include('bootfooter') -%>
