<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1>Naomi Ephraim</h1>
<br>
<img src="/images/naomi.png">
<br>
<p>Hi! My name is Naomi Ephraim, and I am a rising senior at Highland Park High School just outside Chicago, IL. Coding and helping others are passions of mine, and I hope this website can reach as many people as possible. When I'm not coding, I spend a lot of time running, as one of my favorite activities is running cross country and track.</p>
<br>
<p>DISCLAIMER: The pizza in the photo above has non-dairy cheese and vegetarian pepperoni!!</p>
<%- include('bootfooter') -%>
