<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<h1>Naomi Ephraim</h1>

<div class = "centerShareStory">
<br>

<br>
<div class="bodyfont">

<p>Hi! My name is Naomi Ephraim, and I am a rising senior at Highland Park High School just outside Chicago, IL. Coding and helping others are passions of mine, and I hope this website can reach as many people as possible. When I'm not coding, I spend a lot of time running, as one of my favorite activities is running cross country and track.</p>

</div>
<br>
<div class="bodyfont">
  <img src="/images/naomi.jpg" alt="A bitmoji picture. A girl with brown bicep length hair. She is wearing a blue workout top with black pants. The girl is running on a treadmill with pizza hanging in front of her.">>
<p>DISCLAIMER: The pizza in the photo above has non-dairy cheese and vegetarian pepperoni!!</p><br>
</div>
</div>
<%- include('bootfooter') -%>
