<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Help pass legislation</h1>
        <p>Massachusetts does not currently have a Homeless Bill of Rights like some other states have, but you can help get one passed!</p>
    </div>
    <p>You can call or email the following people to help Massachusetts pass laws to help homeless people.</p>
    <ol>
      <li>Edward J. Markey</li>
      <ul>
        <li>202-224-2742</li>
        <li><a href="http://www.markey.senate.gov/contact">Other contact info</a></li>
        </ul>
      <li>Elizabeth Warren</li>
      <ul>
        <li>202-224-4543</li>
        <li><a href="http://www.warren.senate.gov/?p=email_senator">Other contact info</a></li>
        </ul>
    </ol>
    <img src="http://www.outlookafghanistan.net/assets/2013/human_rights.jpg">
<%- include('bootfooter') -%>
