<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Help pass legislation</h1> <br>
        <p class="centerShareStory">Massachusetts does not currently have a Homeless Bill of Rights like some other states have, but you can help get one passed!</p>
    </div>
    <p>You can call or email the following people to help Massachusetts pass laws to protect homeless people.</p>
    <ol class="orderedlist">
      <li>Senator Edward J. Markey</li>
      <ul>
        <li>202-224-2742</li>
        <li><a href="http://www.markey.senate.gov/contact">Other contact info</a></li>
        </ul>
        <br>
      <li>Senator Elizabeth Warren</li>
      <ul>
        <li>202-224-4543</li>
        <li><a href="http://www.warren.senate.gov/?p=email_senator">Other contact info</a></li>
        </ul>
        <br>
      <li><a href="http://malegislature.gov/Legislators/Members/House">Or click here to find a list of Massachusetts House Representatives</a></li>
    </ol>
    <img src="https://self-sufficiency.org/wp-content/uploads/2014/11/stop-the-criminalization-of-homelessness.jpg" width=600>
<%- include('bootfooter') -%>
