<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<div class="bodyfont">
    <h1>Thank You</h1>
    <div class="centerShareStory">
</div>
<div class = "centerShareStory">
    <br>
    <p> Thank you for reporting this comment. We will view it immediately and evaluate it.</p>
    </div>

<%- include('bootfooter') -%>
