<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<div class="bodyfont">
    <h1>Rina Stanghellini</h1>
    <div class="centerShareStory">
</div>
<div class = "centerShareStory">
    <br>
    <p> My name is Rina Stanghellini and I am a rising sophmore in New York.
    I am a member of my school's Cross Country Team and Indoor and Outdoor
    Track and Field Team. I play the violin with the local Symphonic Orchestra.
    </p>
      <img src="/Images/Rina.png" alt="A bitmoji picture. A girl with black bicep length hair. She is wearing a purple shirt with black pants. The girl is sitting on a line with birds surrounding her.">>
    </div>

<%- include('bootfooter') -%>
