<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1>Rina Stanghellini</h1>
    <p> My name is Rina Stanghellini and I am a rising sophmore at White Plains High School.
    I run Cross Country and Track. I play violin with the White Plains Symphonic Orchestra.</p>

<%- include('bootfooter') -%>
