<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="centerShareStory">
    <h1>Rina Stanghellini</h1>
    <br>
    <img src="https://mail.google.com/mail/u/0?ui=2&ik=2884671407&attid=0.1&permmsgid=msg-f:1638775910913294787&th=16be1a02247441c3&view=fimg&disp=thd&attbid=ANGjdJ-pNOEfEY7522HnAtA_fQvxLFNU7vsnbjGIiz55zPLomBl6GP4PVivtV8KlOpep3qsWOgfsI65LMOhEXOS6J4jIhydX1_OJb0fvxxTZVli1CUZX0es0L4sXpBs&ats=2524608000000&sz=w1276-h482">

    <br>
    <p> My name is Rina Stanghellini and I am a rising sophmore at White Plains High School.
    I run Cross Country and Track. I play violin with the White Plains Symphonic Orchestra.</p>
</div>
<%- include('bootfooter') -%>
