<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>See others' stories</h1>
        <p>Read what other people have shared</p>
    </div>

    
  </p>
<%- include('bootfooter') -%>
