<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>See others' stories</h1>
        <div class="bodyfont">
        <p>Read what other people have shared</p>
        </div>
    </div>


  </p>
<%- include('bootfooter') -%>
