<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>See others' stories</h1>
        <p>Read what other people have shared</p>
    </div>

      <iframe width="1000" height="500" src="https://weather.com/weather/today/l/USMA0046:1:US">
  </iframe>
  </P>
<%- include('bootfooter') -%>
