<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Share your story</h1>
        <p>Tell us and the community what you've experienced</p>
    </div>

    <form method="post" action="/processform">
      Comments:
      <br>
      <textarea id="theComments" name="theComments"></textarea>

      <br>
      <input type="submit">
    </form>
<%- include('bootfooter') -%>
