<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<br>
<head>
  <title>Share, Ask and Request</title>
</head>
        <h1>Share your story, Ask Questions, and Request Features</h1><br>
        <div class="bodyfont">
        <p class="centerShareStory">Tell us and the community what you've experienced</p>


    <table border="0" width="100%">
    <tr height="100">
      <td id="bgforheader" class="centerShareStory"width="400"> <h2>See Others' Stories<h2></td>
  <td class="centerShareStory" width="widthofsharestoryboxes"> <h2>Ask and Answer Questions<h2></td>
  <td id="bgforheader2" width="widthofsharestoryboxes"class="centerShareStory"> <h2>Request Features<h2></td>
  </tr>
  <tr>
<td id="bgforstories">
        <form method="post" action="/processform">


          <br>
          <br>

          <textarea name="comment" rows="10" style= "width: 100%; border: none">
          </textarea>
          <br><br>
<div class="centerShareStory">
          <input class="form-submit-button" type="submit">
          </div>
        </form>
        </td>
<td>
  <form method="post" action="/processform">


    <br>
    <br>

    <textarea name="question" rows="10" style= "width: 100%; border: none">
    </textarea>
    <br><br>
<div class="centerShareStory">
    <input class="form-submit-button" type="submit">
    </div>
  </form>
</td>
<td id="bgforstories">
  <form method="post" action="/processform">


    <br>
    <br>

    <textarea name="question" rows="10" style= "width: 100%; border: none">
    </textarea>
    <br><br>
<div class="centerShareStory">
    <input class="form-submit-button" type="submit">
    </div>
  </form>
  </td>
  </tr>
</div>
    </table>


<%- include('bootfooter') -%>
