<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<br>
        <h1>Share your story</h1><br>
        <div class="bodyfont">
        <p class="centerShareStory">Tell us and the community what you've experienced</p>
        </div>
    </div>
    <table border="1"
    <tr height="100">
      <td id="bgforheader" class="centerShareStory"> <h2>See Others' Stories<h2></td>
  <td class="centerShareStory"> <h2>Ask and Answer Questions<h2></td>
  <td id="bgforheader2" class="centerShareStory"> <h2>Request Features<h2></td>
  </tr>
  <tr id="bgforstories">

        <form method="post" action="/processform">
          <div class="bodyfont">
          Comments:
          </div>
          <br>
          <br>
          <textarea name="comment" rows="10" cols="80"></textarea>

          <br><br>

          <input class="form-submit-button" type="submit">
        </form>
        </tr>
    </table>

    <form method="post" action="/processform">
      <div class="bodyfont">
      Comments:
      </div>
      <br>
      <br>
      <textarea name="comment" rows="10" cols="80"></textarea>

      <br><br>

      <input class="form-submit-button" type="submit">
    </form>
<%- include('bootfooter') -%>
