<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<h1> Samantha Sunday Trombone </h1>
<div class="bodyfont">
  <div class = "centerShareStory">
Hello everyone my name is Samantha Sunday Trombone and I am a rising high school junior in New York City. I am very interested in helping people live their best lives with the best quality of life possible. I am also greatly interested in coding and creating so by combining those two interests and by collaborating with my peers we have been able to create a helpful and intereactive site for to help people who need it. Outside of coding I enjoy rowing with my team and I enjoy hiking.
</div>
</div>
<br><br>
<div class ="centerShareStory">
<img src= "/images/sammay.jpg">
</div>
<%- include('bootfooter') -%>
