<%- include('bootheader') -%>
<%- include('menubar') -%>

<head>
<link rel="shortcut icon" href="/Images/logo.ico">
</head>
<title>HYELP</title>

</div> <br><br><br><br><br><br>
<div class="centerShareStory">
<div class="bigfont">
<p>Thanks! We will put up your coupon as soon as possible</p>
</div>
</div>






<%- include('bootfooter') -%>
