<%- include('bootheader') -%>
<%- include('menubar') -%>

<head>
<link rel="shortcut icon" href="/Images/logo.ico">
</head>
<title>HYELP</title>
<br><br>
<div class="bodyfont">
<h1>Thanks!</h1>
</div>



<%- include('bootfooter') -%>
