<%- include('bootheader') -%>
<%- include('menubar') -%>


      <div>
        <img src="/Images/Trish.png">
        </div>
      <div>
        <br><br>
          <h1>Trish Nguyen</h1>
      </div>
      <div class="bodyfont">
          <p>
            Hello guys, my name is Trish Nguyen! I am a 18 year old junior at Cristo Rey Atlanta Jesuit High School. I was born in Bluefield, West Virginia, on April 6, 2001. I moved from there to Mooresville, North Carolina, and then finally I moved to the Lithonia, Georgia area.
            <br></br>
            I can be very shy when meeting new people, and I am quiet for most of my days. When I know someone long enough, I can talk freely however, the amount of time depends on that particular person.
            <br></br>
            At school I am great at math because it is easy to remember the formulas and how to solve problems. There are classes that I do struggle with but I try to get better at them.
            <br></br>
            At home my family consists of; my Vietnamese mom, Japanese stepfather, American/Vietnamese/Japanese little baby sister Katelyn, my pet baby boy betta fish Aaron, and my puppy Oreo. During the weekends my stepfather and I babysit Katelyn while my mom is out working, I clean Aaron's fish tank, and sometimes do the laundry for the upcoming weekdays. On both weekdays and weekends I take Oreo out for a walk daily; but if I do not feel well or don't have time to do so, then one of my parents will do so.
            <br></br>
            When I'm outside, I like to go to different places and do many things. To name a few activities: I like sightseeing, playing in parks, looking around or buying supplies from pet stores. I also like to look up at the sky during the day or afternoon to see if it looks beautiful somehow in someway.
          </p>
      </div>


<%- include('bootfooter') -%>
