<%- include('bootheader') -%>
<%- include('menubar') -%>


      <div>
        <img src="https://attachments.office.net/owa/tnguyen20%40cristoreyatlanta.org/service.svc/s/GetFileAttachment?id=AAMkAGI2MmM5NTVjLWZjOWQtNDc0ZS1iNWRhLWVhNGYyZDQwZjMzMABGAAAAAAAoH6AsS01aTpwI6hGjN0njBwAHx%2BD5gtAdTbuwvzH1BjXyAAAAAAEMAAAHx%2BD5gtAdTbuwvzH1BjXyAALNYWldAAABEgAQADxZ%2BIT61e5KnTXFfptOqKY%3D&X-OWA-CANARY=DHMV4rYSvEm6i4reka_NcyDRfwYXBtcYB01szdSbzvBn8fUUD2JjoCFR-BTqQJePSEHYiuJLKD8.&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjA2MDBGOUY2NzQ2MjA3MzdFNzM0MDRFMjg3QzQ1QTgxOENCN0NFQjgiLCJ4NXQiOiJCZ0Q1OW5SaUJ6Zm5OQVRpaDhSYWdZeTN6cmciLCJ0eXAiOiJKV1QifQ.eyJ2ZXIiOiJFeGNoYW5nZS5DYWxsYmFjay5WMSIsImFwcGN0eHNlbmRlciI6Ik93YURvd25sb2FkQDAzZjkyYTRjLTg5MGMtNDNhYi05MDU4LWUzNGFmODJlNjIyMCIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTUtMjEtMzM4NjIxMjkyMS0yNzI2NTE1NTE3LTExNDA5MTkwMTAtMTkzNTAwOFwiLFwicHVpZFwiOlwiMTE1Mzk3NzAyNTQ0NDI1OTgyN1wiLFwib2lkXCI6XCIyNDAyNjJkYi0wNjkzLTQ1OGMtOThkZC1jMzAxNGQ1YzE2ZjVcIixcInNjb3BlXCI6XCJPd2FEb3dubG9hZFwifSIsIm5iZiI6MTU2Mjg2MDAyMSwiZXhwIjoxNTYyODYwNjIxLCJpc3MiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDBAMDNmOTJhNGMtODkwYy00M2FiLTkwNTgtZTM0YWY4MmU2MjIwIiwiYXVkIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwL2F0dGFjaG1lbnRzLm9mZmljZS5uZXRAMDNmOTJhNGMtODkwYy00M2FiLTkwNTgtZTM0YWY4MmU2MjIwIn0.o8ZPrnIW_qIrb3zxdWJSfapXBH57Re1U__IHyBiK2e7qnI8nJ7zBJpCTAP98MMoE5SV7qiLf8v093o_IAEtMNtK2i5JdPxWwT6iyjavb-H8zae-7oSOJAB00KtjXQzEMdSCD5Ak0qqQL_53lPz5WzID0jNM3ajMND7LfIHtjd3pMLRnmoyM8BVwNLu4diaFPFRxUxa8suiQ-0FYOOJ2b3TwMBnYvdRDeTpJ4OcUB3reXABSjAE3pMoAzyG8XM0MRhHAOvfaYcsfwMubMzLq56AYkSfANUzuARgRsXtXC8T_Wiv8mPywO2lwO5D9AxMOEOkFRitIYH_vupwR_WArrYw&owa=outlook.office.com&isImagePreview=True">
      </div>
      <div>
          <h1>Trish Nguyen</h1>
      </div>
      <div class="bodyfont">
          <p>
            Hello guys, my name is Trish Nguyen! I am a 18 year old junior at Cristo Rey Atlanta Jesuit High School. I was born in Bluefield, West Virginia, on April 6, 2001. I moved from there to Mooresville, North Carolina, and then finally I moved to the Lithonia, Georgia area.
            <br></br>
            I can be very shy when meeting new people, and I am quiet for most of my days. When I know someone long enough, I can talk freely however, the amount of time depends on that particular person.
            <br></br>
            At school I am great at math because it is easy to remember the formulas and how to solve problems. There are classes that I do struggle with but I try to get better at them.
            <br></br>
            At home my family consists of; my Vietnamese mom, Japanese stepfather, American/Vietnamese/Japanese little baby sister Katelyn, my pet baby boy betta fish Aaron, and my puppy Oreo. During the weekends my stepfather and I babysit Katelyn while my mom is out working, I clean Aaron's fish tank, and sometimes do the laundry for the upcoming weekdays. On both weekdays and weekends I take Oreo out for a walk daily; but if I do not feel well or don't have time to do so, then one of my parents will do so.
            <br></br>
            When I'm outside, I like to go to different places and do many things. To name a few activities: I like sightseeing, playing in parks, looking around or buying supplies from pet stores. I also like to look up at the sky during the day or afternoon to see if it looks beautiful somehow in someway.
          </p>
      </div>


<%- include('bootfooter') -%>
