<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Weather</h1>
        <p>Weather For Boston</p>
    </div>

      <iframe width="1000" height="500" src="https://weather.com/weather/today/l/USMA0046:1:US">
  </iframe>
  </p>
<%- include('bootfooter') -%>
