<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Weather</h1>
        <p>Weather For Boston</p>
    </div>
    <p>
      <iframe width="1000" height="1000" src="https://weather.com/weather/today/l/USMA0046:1:US">
  </iframe>
  </P>
<%- include('bootfooter') -%>
