body {
  padding: 50px;
  font: 16px "Arial", Helvetica, Arial, sans-serif;
}

a {
  color: #7bb061;
}

a:hover{
  color: #5d8549
}

.bodyfont {
  font: 18px "AppleGothic";

}
h1 {
font: 48px "AppleGothic";
text-align: center
}

.centerShareStory {
text-align: center

}

.orderedlist {

 list-style-type: square

}

.smallbodyfont{
  font:12px "AppleGothic";
}
