body {
  padding: 50px;
  font: 16px "Arial", Helvetica, Arial, sans-serif;
  background-color:#C2C6E8;
}

a {
  color: #6c9956;
  font-weight: 2000;
}

a:hover{
  color: #557844;
  font-weight: 2000;
}

.bodyfont {
  font: 18px "AppleGothic";
  font-style:normal;

}
h1 {
font: 48px "AppleGothic";
text-align: center;
}

.centerShareStory {
text-align: center;


}

.orderedlist {

 list-style-type: square;

}

.smallbodyfont{
  font:12px "AppleGothic";
}

<<<<<<< HEAD
#navbarDropdown{
  
=======
#navbarDropdownZZZ{
>>>>>>> 28c86b62ccdd9ef71998f69d9c9b2ea14fd61639
  position: relative;
  left: 600px;
}


.navbar-brandZZZ{
  /*float: right;*/
  /*padding: 0px 100px 10px 200px;*/

  position: relative;
  left: 400px;}

  .form-submit-button {
background: #7AB062;
color: white;
border-color: #7AB062;
height: 50px;
width: 100px;
font: bold 15px AppleGothic, sans-serif;
text-shadow:none;
}

#bgforstories {

  background-color: #efede9;
}

#bgforheader{

    background-color: #efede9;
  
}

#bgforstories2 {

  background-color: #efeae9;
}

#bgforheader2{

    background-color: #efeae9;
}
