body {
  padding: 50px;
  font: 16px "Arial", Helvetica, Arial, sans-serif;
}

a {
  color: #7bb061;
}

a:hover{
  color: #5d8549;
}

.bodyfont {
  font: 18px "AppleGothic";

}
h1 {
font: 48px "AppleGothic";
text-align: center;
}

.centerShareStory {
text-align: center;

}

.orderedlist {

 list-style-type: square;

}

.smallbodyfont{
  font:12px "AppleGothic";
}

#navbarDropdown{
  
  position: relative;
  left: 600px;
}


.navbar-brand{
  /*float: right;*/
  /*padding: 0px 100px 10px 200px;*/

  position: relative;
  left: 400px;}

  .form-submit-button {

background: #7AB062;

color: white;



border-color: #7AB062;

height: 50px;

width: 100px;

font: bold 15px AppleGothic, sans-serif;

text-shadow:none;

}
